.dark {
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: x-small;
}

.dark .panel {
    background-color: rgb(46, 46, 46);
}

.dark .button {
    background-color: rgb(31, 31, 31);
    border-color: white !important;
    color: white !important
}

.dark .w3-bordered tr, .w3-table-all tr {
    border-bottom: 1px solid rgb(73, 73, 73);
    font-size: x-small;
    padding: 0 0 0 0;
}

.dark .w3-bordered th, .w3-table-all th {
    padding: 4px 0 5px 0;
    padding-left: 8px;
}

.dark .w3-bordered td, .w3-table-all td {
    padding: 2px 0 2px 0;
    padding-left: 4px;
}

.dark .w3-button:hover {
    background-color: rgb(82, 82, 82) !important;
    color: white !important
}