body {
    background-color: rgb(243, 243, 243);    
}

.text-caption {
    font-size: larger
}

body .w3-bordered tr, .w3-table-all tr {

}

body .w3-bordered th, .w3-table-all th {
    height: 2em;
    padding: 0.4em 1em 0 1em;
}

body .w3-bordered td, .w3-table-all td {
    height: 2em;
    padding: 0 0 0 0;
    padding-left : 0.8em;
}

.w3-table td:first-child, .w3-table th:first-child {
    padding-left: 0.3em;
}

.w3-padding {
    padding: 0.4em 0.8em !important;
}

table {
    text-indent: each-line;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    text-align: start;
    font-variant: normal;
}


td {
    vertical-align: middle !important;
}

.legendary {
    color: rgb(245, 119, 13);
}

.current {
    background-color: orange !important;    
}

.current-hero {
    background-color: rgb(39, 234, 17) !important;
}

.progress-text {
    position: absolute;
    top: 5%;
    left: 0.5em;
    bottom: 0%;
    color: white
}

.progress-bar {
    margin-top: 0.05em;
    position: relative;
    background-color: rgb(12, 101, 173);    
    width: 100%;
}

.progress-fill {
    height: 1.6em;
    background-color: rgb(46, 148, 231);
}


.progress-bar-hero {
    margin-top: 0.05em;
    position: relative;
    background-color: rgb(108, 59, 59);
    width: 100%;
}

.progress-fill-hero {
    height: 1.6em;
    background-color: rgb(165, 60, 21);
}

.progress-bar-finished {
    margin-top: 0.05em;
    position: relative;
    background-color: rgb(165, 60, 21);
    
    width: 100%;
}

.progress-fill-finished {
    height: 1.6em;
    background-color: /*rgb(232, 102, 27);*/ rgb(212, 80, 30);
}

.hidden {
    display: none !important;
}

.hiddenTask {
    display: none !important;
}

.button {
    border: 0.1em groove black !important;
}

.item-button {
    background-color: white;
    text-align: center;
    width: 93%;
    height: 1.8em;
    padding: 0;
}

.item-button:hover {
    cursor: pointer;
    background-color: rgb(192, 192, 192);
}

.item-header-row:hover {
    cursor: pointer;    
}

button:focus {
    outline: none;
}

.scroll {
    overflow-y: auto;    
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltipText {
    visibility: hidden;
    width: 20em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em 0.5em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 102%;

    opacity: 0;
    transition: opacity 0.5s;
}
  
.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 0.8;
}

.sidebar-element {
    margin-bottom: 0.8em;
}

.slidecontainer {
    width: 100%;
}

/*
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 0.5em;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
*/

.inline {
    display: inline-block;
}

.panel {
    background-color: white;
}

.small-margin  {
    margin-bottom: 0.1em;
}

.heading {
  position: relative;
}

.header img {
  position: static;
  float: left;
  width: 36px;
  height: 36px;
}

.header h1 {
  position: static;
  top: 2px;
  left: 10px;
}

.row {
    display: flex;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
}

.quick-bar {
    top: 0;
}

.tabs-tab-column {
    width: 60em;
    height: auto;
}

.tabs-main-column {
    width: 60em;
    height: auto;
    float: right;
}

.plain-tab-column {
    width: 164em;
    height: auto;
}

.plain-main-column {
    width: 164em;
    height: auto;
    float: right;
}

.baritem {
    width: 9em;
    height: auto;
    text-align: center;
}

